# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=False
API_LOG_LEVEL=info

# Model Configuration
YOLO_MODEL_PATH=../best.pt
EFFICIENTNET_MODEL_PATH=../efficientnet_fish.h5
CLASS_MAP_PATH=../clf_class_names.json

# Inference Settings
YOLO_CONFIDENCE_THRESHOLD=0.20
IMG_SIZE_CLF=300
PADDING=0.05
